<a href="https://colab.research.google.com/github/shrixx18/ML-lab-practicals/blob/main/Shri_ML_lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Printing table :

In [ ]:
x = int(input("Enter the number : "))
for i in range (1,11):
  print(x," x ",i," = ",x*i)

Enter the number : 12
12  x  1  =  12
12  x  2  =  24
12  x  3  =  36
12  x  4  =  48
12  x  5  =  60
12  x  6  =  72
12  x  7  =  84
12  x  8  =  96
12  x  9  =  108
12  x  10  =  120

List and list comprehension :

In [ ]:
fruits = ["Apple","Banana","Pineapple","Papaya","Orange"]
OddL = []
newL = []
for i in fruits :
  if 'p' in i:
    newL.append(i)
  else :
    OddL.append(i)
print("fruits is : ",fruits)
print("newL is : ",newL)
print("OddL is : ",OddL)

fruits is :  ['Apple', 'Banana', 'Pineapple', 'Papaya', 'Orange']
newL is :  ['Apple', 'Pineapple', 'Papaya']
OddL is :  ['Banana', 'Orange']

Tupples :

In [ ]:
marks = (18,19,15,20)
print(marks[1:4])
print(marks[:4])
print(marks[::-1])
print(marks[:-2])

(19, 15, 20)
(18, 19, 15, 20)
(20, 15, 19, 18)
(18, 19)

String :

In [ ]:
Name = "Mahendra Bahubali"
print(Name)
firstName = Name[:8]
lastName = Name[9:]
print("Hello Mr.{} {}".format(firstName,lastName))

Mahendra Bahubali
Hello Mr.Mahendra Bahubali

Functions in python: